<nav ng-controller="TopBarController as topbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">My Locations</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: topbar.isActive('/home') || topbar.isActive('/')}"><a href="#home">Home</a></li>
                <li ng-class="{ active: topbar.isActive('/category-list')}"><a href="#category-list">Categories</a></li>
                <li ng-class="{ active: topbar.isActive('/location-list')}"><a href="#location-list">Locations</a></li>
                <li ng-click="topbar.connectToServer();"><a href="javascript:void(0);">Node js connect</a></li>
            </ul>
        </div>
    </div>
</nav>