/* BASIC CSS */

html body {
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-family: "asap", "helvetica", "arial", sans-serif !important;
    color: #606364;
    overflow-x: hidden;
}

h1 {
    font-size: 24px !important;
}

hr {
    margin: 1em 0;
    border-top: 4px solid #ccc;
}

label {
    padding: 0;
}

table {
    border-collapse: initial !important;
}

.no-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cursor {
    cursor: pointer;
}

b,
strong {
    font-weight: bold;
}

a {
    cursor: pointer;
}


/* end BASIC CSS */