body,
html {
    height: 100%;
    margin: 0;
}

.google-map {
    height: 100%;
}

.short-map {
    height: 250px;
}

.md-scroll-mask {
    position: initial;
}

.address-form-map .panel {
    position: absolute;
    margin: 20px auto 0;
    left: 0;
    right: 0;
    min-width: 20%;
    max-width: 60%;
    z-index: 10001;
}