<div class="panel panel-default mylocation-category-add">
    <div class="panel-heading mylocations-toolbar">Add Category
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#category-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form name="categoryAddForm" class="form cl" ng-submit="add.submit(add.category);" role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="add.category.name" ng-required="true" type="text" class="form-control" id="name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>