<div class="panel panel-default mylocation-category-view">
    <div class="panel-heading mylocations-toolbar">
        Category Details
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#category-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <strong>Id:</strong>
            <span>{{view.category.id}}</span>
        </div>
        <div>
            <strong>Name:</strong>
            <span>{{view.category.name}}</span>
        </div>
    </div>
</div>