<div class="panel panel-default mylocation-category-list">
    <div class="panel-heading  mylocations-toolbar">Categories
        <div class="mylocations-toolbar-buttons btn-group">
            <button ng-click="list.add();" title="add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button ng-disabled="!list.selectedCategory" ng-click="list.edit();" title="edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button ng-disabled="!list.selectedCategory" ng-click="list.remove();" title="remove" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button ng-disabled="!list.selectedCategory" ng-click="list.view();" title="view" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <form novalidate class="form cl" role="form" name="categoryListForm">
            <table ng-table="list.tableParams" class="table table-condensed table-bordered table-hover" show-filter="false">
                <tr ng-repeat="category in $data">
                    <td class="form-group" title="''">
                        <input ng-model="list.selectedCategory" type="radio" name="Category" value="{{category.id}}">
                    </td>
                    <td title="'Name'" sortable="'name'">
                        {{category.name}}</td>
                </tr>
            </table>
        </form>
    </div>
</div>