<div class="mylocations-home clearfix">
    <div class="mylocations-circle">
        <div class="mylocations-circle-out">
            <a href="#home">
                <div class="mylocations-circle-border">
                    <div class="mylocations-circle-in mylocations-circle-blue">
                        <span>Home</span>
                        <img src="assets/img/home.png" alt="" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="mylocations-circle">
        <div class="mylocations-circle-out">
            <a href="#location-list">
                <div class="mylocations-circle-border">
                    <div class="mylocations-circle-in mylocations-circle-green">
                        <span>Locations</span> <img src="assets/img/map.png" alt="" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="mylocations-circle">
        <div class="mylocations-circle-out">
            <a href="#category-list">
                <div class="mylocations-circle-border">
                    <div class="mylocations-circle-in mylocations-circle-red">
                        <span>Categories</span><img src="assets/img/category.png" alt="" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>