<div class="mylocations-address">
    <div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input placeholder="Ex.  France,  England,  Israel  etc." ng-change="locationaddress.onChange()" name="country" ng-model="locationaddress.model.country" ng-required="true" type="text" class="form-control" id="country">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input placeholder="Ex.  Bilbao,  Madrid,  Barcelona  etc." ng-change="locationaddress.onChange()" name="city" ng-model="locationaddress.model.city" ng-required="true" type="text" class="form-control" id="city">
        </div>
        <div class="form-group">
            <label for="street">Street:</label>
            <input placeholder="Ex.  Plaza  Mayor,  Las  Ramblas,  Calle  Sierpes  etc." ng-change="locationaddress.onChange()" name="street" ng-model="locationaddress.model.street" ng-required="true" type="text" class="form-control" id="street">
        </div>
        <div class="form-group">
            <label for="number">Number:</label>
            <input placeholder="Ex.  32,  S/N,  12  ACC  etc." ng-change="locationaddress.onChange()" name="number" ng-model="locationaddress.model.number" ng-required="true" type="text" class="form-control" id="number">
        </div>
        <button type="button" ng-click="locationaddress.updateLocation()" class="btn btn-info mylocations-address-check">Update Location </button>
        <div class="address-form-map">
            <div class="panel panel-default" ng-show="locationaddress.showAdressPopup">
                <div class="panel-body">
                    <p>You moved the pushpin or the address has changed. Would you like to change the address of the property?</p>
                    <p><b>{{ locationaddress.map.googlePoint.address }}</b></p>
                    <div class="box-btn">
                        <a class="btn btn-success pull-left" ng-click="locationaddress.applyAdress()">Apply This Address</a>
                        <a class="btn btn-danger pull-right" ng-click="locationaddress.showAdressPopup = false">Cancel This Address</a>
                    </div>
                </div>
            </div>
            <alert close="locationaddress.closeAlert($index)" type="{{alert.type}}" ng-repeat="alert in locationaddress.locationMsg">{{alert.msg}}</alert>
            <map options="locationaddress.map.options" ng-transclude class='short-map' center='locationaddress.map.center'>
                <marker events="locationaddress.map.googlePoint.events" options="locationaddress.map.googlePoint.options" position='locationaddress.map.googlePoint.position'></marker>
            </map>
            <strong>
                You can change the direction by moving the marker in the zone of the map that you desire
            </strong>
        </div>
    </div>
</div>