<div class="panel panel-default mylocation-location-edit">
    <div class="panel-heading mylocations-toolbar">
        Edit Location
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#location-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form name="locationEditForm" class="form cl" ng-submit="edit.submit(edit.location);" role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="edit.location.name" ng-required="true" type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="name">Category:</label>
                <typeahead-dropdown ng-required="true" config="edit.dropDownconfig" name="'Category'" id="'Category'" ng-model="edit.location.category" options="edit.categories" positive-number="true"></typeahead-dropdown>
            </div>
            <mylocations-location-address errors="edit.errors" coordinates="edit.location.coordinates" address="edit.location.address"></mylocations-location-address>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>