<div class="panel panel-default mylocation-location-view-map">
    <div class="panel-heading mylocations-toolbar">
        Location Details
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#location-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <strong>Name:</strong>
            <span>{{map.location.name}}</span>
        </div>
        <div>
            <strong>Address:</strong>
            <span>{{map.location.address.address}}</span>
        </div>
    </div>
    <map options="map.map.options" ng-transclude class='short-map' center='map.map.center'>
        <marker position='map.map.marker.position'></marker>
    </map>
</div>