<div class="panel panel-default mylocation-location-view">
    <div class="panel-heading mylocations-toolbar">
        Location Details
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#location-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <strong>Id:</strong>
            <span>{{view.location.id}}</span>
        </div>
        <div>
            <strong>Name:</strong>
            <span>{{view.location.name}}</span>
        </div>
        <div>
            <strong>Category:</strong>
            <span>{{view.location.category.name}}</span>
        </div>
        <div>
            <strong>Address:</strong>
            <span>{{view.location.address.address}}</span>
        </div>
        <div>
            <strong>Latitude:</strong>
            <span>{{view.location.coordinates.latitude}}</span>
        </div>
        <div>
            <strong>Longitude:</strong>
            <span>{{view.location.coordinates.longitude}}</span>
        </div>
    </div>
</div>