<div class="panel panel-default mylocation-location-list">
    <div class="panel-heading mylocations-toolbar">
        Locations
        <div class="mylocations-toolbar-buttons btn-group">
            <button ng-click="list.add();" title="add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button ng-disabled="!list.selectedLocation" ng-click="list.edit();" title="edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button ng-disabled="!list.selectedLocation" ng-click="list.remove();" title="remove" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button ng-disabled="!list.selectedLocation" ng-click="list.view();" title="view" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button ng-disabled="!list.selectedLocation" ng-click="list.map();" title="view" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <form novalidate class="form cl" role="form" name="locationListForm">
            <div class="btn-group mylocation-btn-group">
                <button ng-class="{ 'active': list.group}" ng-click="list.group = true" type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-indent-right"></span>Group</button>
                <button ng-class="{ 'active': !list.group}" ng-click="list.group = false" type="button" class="btn btn-info btn-sm"> <span class="glyphicon glyphicon-indent-left"></span>Ungroup</button>
            </div>
            <div ng-if="!list.group">
                <table ng-table="list.tableParams" class="table table-condensed table-bordered table-hover" show-filter="false">
                    <tr ng-repeat="location in $data">
                        <td class="form-group" title="''">
                            <input ng-model="list.selectedLocation" type="radio" name="Location" value="{{location.id}}">
                        </td>
                        <td title="'Name'" sortable="'name'">
                            {{location.name}}</td>
                        <td title="'Category'" sortable="'category.name'">
                            {{location.category.name}}</td>
                        <td title="'Address'" sortable="'address.address'">
                            {{location.address.address}}</td>
                    </tr>
                </table>
            </div>
            <div ng-if="list.group">
                <table ng-table="list.tableParamsGrouped" class="table table-condensed table-bordered table-hover" show-filter="false">
                    <tr class="ng-table-group" ng-repeat-start="group in $groups">
                        <td colspan="3">
                            <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                <strong>{{ group.value }}</strong>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="location in group.data" ng-repeat-end>
                        <td class="form-group" title="''">
                            <input ng-model="list.selectedLocation" type="radio" name="Location" value="{{location.id}}">
                        </td>
                        <td title="'Name'" sortable="'name'">
                            {{location.name}}</td>
                        <td groupable="'category.name'" title="'Category'" sortable="'category.name'">
                            {{location.category.name}}</td>
                        <td title="'Address'" sortable="'address.address'">
                            {{location.address.address}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>