<div class="panel panel-default mylocation-location-add">
    <div class="panel-heading mylocations-toolbar">Add Location
        <div class="mylocations-toolbar-buttons btn-group">
            <a href="#location-list" title="back to list" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form name="locationAddForm" class="form cl" ng-submit="add.submit(add.location);" role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="add.location.name" ng-required="true" type="text" class="form-control" id="Name">
            </div>
            <div class="form-group">
                <label for="name">Category:</label>
                <typeahead-dropdown ng-required="true" config="add.dropDownconfig" name="'Category'" id="'Category'" ng-model="add.location.category" options="add.categories" positive-number="true"></typeahead-dropdown>
            </div>
            <mylocations-location-address errors="add.errors" coordinates="add.location.coordinates" address="add.location.address"></mylocations-location-address>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>