<div class="modal-confirm">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="box">
                <div>{{modal.message}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="modal.cancel()">No</button>
        <button class="btn btn-green" ng-click="modal.ok()">Ok</button>
    </div>
</div>