<div class="modal-header">
    <button ng-click="modal.close()" type="button" class="close btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
    <h4 class="modal-title">{{modal.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="box">
            <div ng-repeat="message in modal.messages">{{message}}</div>
        </div>
    </div>
</div>